.btn.btn-primary {
    background: linear-gradient(to top right, #ca0e50, #cd1b59) !important;
    color: rgba(255, 255, 255, 0.95);
    border-radius: 25px;
    opacity: 1;
    border: none !important;
    cursor: pointer;
}

.btn.btn-primary:hover {
    background: #fcb530  !important;
}