@if (isAuth(ProductPermission.UpdateProduct)) {
  <div class="container">
    <p-toast position="top-right" key="tl"></p-toast>
    <p-confirmDialog header="Delete Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-card class="">
      <ng-template pTemplate="header">
        <h1 style="align-content: center; align-items: center; text-align: center;">Update Product</h1>
      </ng-template>
      <div class="Body">
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <app-text-component [(ngModel)]="form.titleAr" [name]="'titleAr'" [minLength]="5" [maxLength]="150"
                [size]="'small'" (inputValid)="isInputValid('titleAr', $event)" [require]="true" [label]="'Arabic Title'"
                [disable]="false"></app-text-component>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <app-text-component [(ngModel)]="form.titleEn" [name]="'titleEn'" [minLength]="5" [maxLength]="150"
                [size]="'small'" (inputValid)="isInputValid('titleEn', $event)" [require]="true" [label]="'English Title'"
                [disable]="false"></app-text-component>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <app-text-component [(ngModel)]="form.modelNumber" [name]="'modelNumber'" [minLength]="5" [maxLength]="150"
                [size]="'small'" (inputValid)="isInputValid('modelNumber', $event)" [require]="true" [label]="'Model Number'"
                [disable]="false"></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-editor [(ngModel)]="form.shortDescriptionAr" [name]="'shortDescriptionAr'" [minLength]="5" [maxLength]="1000"
              [size]="'small'" (inputValid)="isInputValid('shortDescriptionAr', $event)" [require]="true" [label]="'Arabic Short Description'"
            [disable]="false"></app-editor>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-editor [(ngModel)]="form.shortDescriptionEn" [name]="'shortDescriptionEn'" [minLength]="5" [maxLength]="1000"
              [size]="'small'" (inputValid)="isInputValid('shortDescriptionEn', $event)" [require]="true" [label]="'English Short Description'"
            [disable]="false"></app-editor>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-editor [(ngModel)]="form.longDescriptionAr" [name]="'longDescriptionAr'" [minLength]="5" [maxLength]="1000"
              [size]="'small'" (inputValid)="isInputValid('longDescriptionAr', $event)" [require]="true" [label]="'Arabic Long Description'"
            [disable]="false"></app-editor>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-editor [(ngModel)]="form.longDescriptionEn" [name]="'longDescriptionEn'" [minLength]="5" [maxLength]="1000"
              [size]="'small'" (inputValid)="isInputValid('longDescriptionEn', $event)" [require]="true" [label]="'English Long Description'"
            [disable]="false"></app-editor>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-pick-list-component (inputValid)="isInputValid('mainCategory', $event)" [require]="true"
                [filter]="false" [showClear]="false" [filterBy]="'name'" [label]="'Main Category'"
                [options]="mainCategories" [size]="'small'"
              [(ngModel)]="selectedMainCategory"></app-pick-list-component>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-pick-list-component (inputValid)="isInputValid('categoryId', $event)" [require]="true"
                [filter]="false" [showClear]="false" [filterBy]="'name'" [label]="'Category'"
                [options]="categories" [size]="'small'"
              [(ngModel)]="selectedCategory"></app-pick-list-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <h4>Is Active</h4>
              <p-inputSwitch [(ngModel)]="form.isActive"></p-inputSwitch>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <h4>Is Deleted</h4>
              <p-inputSwitch [(ngModel)]="form.isDeleted"></p-inputSwitch>
            </div>
          </div>
        </div>
   

</div>
<ng-template pTemplate="footer">
  <button pButton type="button" label="Submit" class="btn btn-primary" (click)="submit()"
  [disabled]="getValidation()"></button>&nbsp;
  <button pButton type="button" label="go to List" class="btn btn-light-primary" (click)="routrToList()"></button>&nbsp;
</ng-template>
</p-card>
</div>
}