@if (isAuth(contactPermissions.CreateContactUsMessage)) {
  <div class="container">
    <p-toast position="top-right" key="tl"></p-toast>
    <p-card class="">
      <div class="Body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.firstName"
                [name]="'firstName'"
                [minLength]="3"
                [maxLength]="200"
                [size]="'small'"
                (inputValid)="isInputValid('firstName', $event)"
                [require]="true"
                [label]="'First Name'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.lastName"
                [name]="'lastName'"
                [minLength]="3"
                [maxLength]="200"
                [size]="'small'"
                (inputValid)="isInputValid('lastName', $event)"
                [require]="true"
                [label]="'Last Name'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-email
                [(ngModel)]="form.email"
                [name]="'email'"
                [size]="'small'"
                (inputValid)="isInputValid('email', $event)"
                [require]="true"
                [label]="'email'"
                [disable]="false"
              ></app-email>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.mobile"
                [name]="'mobile'"
                [minLength]="3"
                [maxLength]="200"
                [size]="'small'"
                (inputValid)="isInputValid('mobile', $event)"
                [require]="true"
                [label]="'mobile'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.content"
                [name]="'content'"
                [minLength]="3"
                [maxLength]="200"
                [size]="'small'"
                (inputValid)="isInputValid('content', $event)"
                [require]="true"
                [label]="'Content'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Save"
          class="btn btn-success"
          (click)="submit()"
          [disabled]="getValidation()"
        ></button
        >&nbsp;
        <button
          pButton
          type="button"
          label="cancel"
          class="btn btn-primary"
          (click)="cancel()"
        ></button>
      </ng-template>
    </p-card>
  </div>
}
