<div class="container">
  <p-toast position="top-right" key="tl"></p-toast>
  <p-card class="">
    <div class="Body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <app-multi-image-upload
              [label]="'Upload Your Images'"
              [maxSizeMB]="10"
              [allowedTypes]="['image/jpeg', 'image/png']"
              [disable]="true"
              [images]="form.images"
            ></app-multi-image-upload>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <app-pick-list-component
              [filter]="false"
              [showClear]="false"
              [filterBy]="'name'"
              [label]="'Feature Type'"
              [options]="featureType"
              [size]="'small'"
              [disable]="true"
              [(ngModel)]="selectedFeatureType"
            ></app-pick-list-component>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <app-pick-list-component
              [filter]="false"
              [showClear]="false"
              [filterBy]="'name'"
              [label]="'Feature'"
              [options]="features"
              [size]="'small'"
              [disable]="true"
              [(ngModel)]="selectedFeature"
            ></app-pick-list-component>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <app-number
              [name]="'quantity'"
              [size]="'medium'"
              [(ngModel)]="form.quantity"
              [label]="'Quantity'"
              [disable]="true"
            ></app-number>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <app-number
              [name]="'price'"
              [size]="'medium'"
              [(ngModel)]="form.price"
              [label]="'Price'"
              [disable]="true"
            ></app-number>
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="OK"
        class="btn btn-success"
        (click)="submit()"
      ></button
      >&nbsp;
      <button
        pButton
        type="button"
        label="cancel"
        class="btn btn-primary"
        (click)="cancel()"
      ></button>
    </ng-template>
  </p-card>
</div>
