.rounded-image{
    height: 40px !important;
    margin-top: 5px !important;
    border: 1px solid red;
}

.gallery-img {
    height: 170px;
    width: 100%;
    overflow: hidden;
  }
  
  .gallery-img img {
    width: 100%;
    height: auto;
    min-height: 170px;
    object-fit: cover;
  }