<div [ngClass]="footerContainerCssClasses" class="
    d-flex
    flex-column flex-md-row
    align-items-center
    justify-content-between
    footer-bg
  ">
  <div class="text-dark order-2">
      MySite - MySiteSlogan
  </div>
  <ul ngbNav #nav="ngbNav" class="fw-bold order-1">
    <li ngbNavItem>
      <a  class="menu-link ps-0 pe-2 cursor-pointer facebook" href="https://www.facebook.com" target="_blank">
        <i class="fa-brands fa-facebook-f fa-fw"></i>
      </a>
    </li>
    <li ngbNavItem>
      <a  class="menu-link pe-0 pe-2 cursor-pointer twitter" href="https://twitter.com" target="_blank">
        <i class="fa-brands fa-x-twitter fa-fw"></i>
      </a>
    </li>
    <li ngbNavItem>
      <a   class="menu-link pe-0 pe-2  cursor-pointer linkedin" href="https://www.linkedin.com" target="_blank">
        <i class="fa-brands fa-linkedin-in fa-fw"></i>
      </a>
    </li>
    <li ngbNavItem>
      <a  class="menu-link pe-0 pe-2  cursor-pointer instagram" href="https://www.instagram.com" target="_blank">
        <i class="fa-brands fa-instagram fa-fw"></i>
      </a>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav"></div>
</div>
