


// .header-component-bg {
//     padding-top: 14px !important;
// }


.fa-2x {
    font-size: 2em;
}



.header-menu-left ul li{ 
    z-index: 99999999;
    display: flex;
    width: 100%;
}


.header-menu-left ul li a {
    width: 100%;
}
