@if (isAuth(questionPermissions.QuestionTypeDetails)) {
  <div class="container">
    <p-toast position="top-right" key="tl"></p-toast>
    <p-card class="">
      <div class="Body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.title"
                [name]="'title'"
                [size]="'small'"
                [require]="false"
                [label]="'Title Ar'"
                [disable]="true"
              ></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.titleEn"
                [name]="'titleEn'"
                [size]="'small'"
                [require]="false"
                [label]="'Title Ar'"
                [disable]="true"
              ></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-area-component
                [(ngModel)]="form.description"
                [name]="'description'"
                [size]="'small'"
                [require]="false"
                [label]="'Description'"
                [disable]="true"
              ></app-text-area-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-area-component
                [(ngModel)]="form.descriptionEn"
                [name]="'descriptionEn'"
                [size]="'small'"
                [require]="false"
                [label]="'Description En'"
                [disable]="true"
              ></app-text-area-component>
            </div>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Ok"
          class="btn btn-success"
          (click)="submit()"
        ></button
        >&nbsp;
        <button
          pButton
          type="button"
          label="cancel"
          class="btn btn-primary"
          (click)="cancel()"
        ></button>
      </ng-template>
    </p-card>
  </div>
}
