@if (isAuth(aboutPermissions.AboutUsQuestionDetails)) {
  <div class="container">
    <p-toast position="top-right" key="tl"></p-toast>
    <p-card class="">
      <div class="Body">
        <div class="row"></div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-area-component
                [(ngModel)]="form.questionBody"
                [name]="'questionBody'"
                [size]="'small'"
                [label]="'Question Body'"
                [disable]="true"
              ></app-text-area-component>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <app-text-area-component
                [(ngModel)]="form.questionBodyEn"
                [name]="'questionBodyEn'"
                [size]="'small'"
                [label]="'Question Body En'"
                [disable]="true"
              ></app-text-area-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-area-component
                [(ngModel)]="form.answerBody"
                [name]="'answerBody'"
                [size]="'small'"
                [label]="'Answer Body'"
                [disable]="true"
              ></app-text-area-component>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <app-text-area-component
                [(ngModel)]="form.answerBodyEn"
                [name]="'answerBodyEn'"
                [size]="'small'"
                [label]="'Answer Body En'"
                [disable]="true"
              ></app-text-area-component>
            </div>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="OK"
          class="btn btn-success"
          (click)="submit()"
        ></button
        >&nbsp;
        <button
          pButton
          type="button"
          label="cancel"
          class="btn btn-primary"
          (click)="cancel()"
        ></button>
      </ng-template>
    </p-card>
  </div>
}
