.custom-alert {
    font-size: 0.8375rem;
    padding: 0.4rem;
    margin: 0.3rem 0;
    line-height: 1.5rem;
    color: #ff3d71 !important;
    background-color: #fbf2e7 !important;

      color: #ff3d71 !important;
      margin: 0 !important;
  }