
<div main-item>
  <h5>{{label}}</h5>
  <input #child  pInputText fullWidth  type="text" [(ngModel)]="inputValue"
    class="form-control" [minlength]="minLength" [maxlength]="maxLength"
    (keyup)="startCountingToShowValidation(field)" (change)="startCountingToShowValidation(field)"
    (paste)="startCountingToShowValidation(field)" #field="ngModel" [placeholder]="label"
    [required]="require" [disabled]="disable" />
  </div>
  @if (field.errors && showErrorMessage) {
    <div >
      @if (field.errors['required']) {
        <p-message severity="error" [text]="requiredValidation">
        </p-message>
      }
    </div>
  }
  @if (field.errors && showErrorMessage) {
    <div >
      @if (field.errors['minlength']) {
        <p-message severity="error"  [text]="minLengthValidation" >
        </p-message>
      }
    </div>
  }

  @if (field.errors && showErrorMessage) {
    <div>
      @if (field.errors['maxlength']) {
        <p-message severity="error" [text]="maxLengthValidation">
        </p-message>
      }
    </div>
  }





