<div class="container">
  <br />
  <div class="card mb-5 mb-xl-10">
    <div class="card-body pt-9 pb-0">
      <div class="d-flex flex-wrap flex-sm-nowrap mb-3">
        <div class="me-7 mb-4">
          <div class="
                symbol symbol-100px symbol-lg-160px symbol-fixed
                position-relative
              ">
            <!-- <img src="./assets/media/avatars/300-1.jpg" alt="Metronic" /> -->
            <!-- <img *ngIf="url; else elseBlock;" [src]="url" alt="RedMe" /> -->
            <div class="col-md-3">
              <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                style="display:none;">
                <!-- <button type="button" class="btn btn-success" (click)="file.click()">Upload Image</button> -->
                @if (url) {
                  <img [src]="url" alt="Choose image" class="rounded-image"
                    (click)="file.click()" />
                } @else {
                  <div class="col-md-3">
                    <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                      style="display:none;">
                      <img (click)="file.click()" src="./assets/media/avatars/blank.png" alt="RedMe" alt="Choose image"
                        class="rounded-image" />
                      </div>
                    }
                  </div>
                  <ng-template #elseBlock>
                    <div class="col-md-3">

                      <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)"
                        style="display:none;">
                        <img (click)="file.click()" src="./assets/media/avatars/blank.png" alt="RedMe" alt="Choose image"
                          class="rounded-image" />
                        </div>
                      </ng-template>
            <div class="
                  position-absolute
                  translate-middle
                  bottom-0
                  start-100
                  mb-6
                  bg-success
                  rounded-circle
                  border border-4 border-white
                  h-20px
                  w-20px
                "></div>
                    </div>
                  </div>

                  <div class="flex-grow-1">
          <div class="
                d-flex
                justify-content-between
                align-items-start
                flex-wrap
                mb-2
              ">
                      <div class="d-flex flex-column">
                        <div class="d-flex align-items-center mb-2">
                <a class="
                      text-gray-800 text-hover-primary
                      fs-2
                      fw-bolder
                      me-1
                      cursor-pointer
                    ">
                            {{form.firstName+ " "+form.lastName}}
                          </a>

                        </div>

                        <div class="d-flex flex-wrap fw-bold fs-6 mb-4 pe-2">
                <a class="
                      d-flex
                      align-items-center
                      text-gray-400 text-hover-primary
                      me-5
                      mb-2
                      cursor-pointer
                    ">
                            <!-- <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/communication/com006.svg'
                      "
                            class="svg-icon svg-icon-4 me-1"
                          ></span> -->
                          {{form.job}}
                        </a>

                <a class="
                      d-flex
                      align-items-center
                      text-gray-400 text-hover-primary
                      mb-2
                      cursor-pointer
                    ">
                          <!-- <span
                      [inlineSVG]="
                        './assets/media/icons/duotune/communication/com011.svg'
                      "
                          class="svg-icon svg-icon-4 me-1"
                        ></span> -->
                        {{form.email}}
                      </a>
                    </div>
                  </div>
                </div>
        </div>
        <button pButton pRipple icon="pi pi-pencil" class=" p-button-rounded p-button-info mx-2 imgGroupBtnEdit"
        (click)="canEdit(); "></button>
      </div>
    </div>
  </div>
</div>
@if (isEdit) {
  <app-update-user [UserId]="id" [isProfileEdit]="true"
  (updateFinished)="afetrUpdate($event)"></app-update-user>
}
<router-outlet></router-outlet>
