<!--  -->
@if (isAuth(couponPermissions.CouponList)) {
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <p-confirmDialog header="Delete Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
  <p-toast position="top-right" key="tl"></p-toast>
  <div class="post d-flex flex-column-fluid" id="kt_post">
    <div id="kt_content_container" class="container-xxl">
      <div class="card">
        <div class="card-header border-0 pt-6">
          <div class="card-title">
            <div class="d-flex align-items-center position-relative my-1">
              <span class="svg-icon svg-icon-1 position-absolute ms-6">
                <i class="fa-duotone fa-magnifying-glass fa-lg"
                  style="--fa-primary-color: var(--js-main-color); --fa-secondary-color: var(--js-main-color);"></i>

              </span>
              <!-- *ngIf="isAuth(PackagePermission.SearchPackage)" -->
              @if (isAuth(couponPermissions.SearchCoupon)) {
              <input type="text" (input)="searchInput($event)" data-kt-user-table-filter="search"
                class="form-control form-control-solid w-250px ps-14" placeholder="Search Coupons" />
              }
            </div>
          </div>
          <div class="card-toolbar">
            <div class="d-flex justify-content-end" data-kt-user-table-toolbar="base">
              <!-- *ngIf="isAuth(PackagePermission.FilterPackage)" -->
              @if (isAuth(couponPermissions.FilterCoupon)) {
              <button type="button" (click)="openFilterPopup()" class="btn btn-light-primary me-3"
                data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                <i class="fa-duotone fa-filters fa-size" aria-hidden="true"></i>
                <!--end::Svg Icon-->Filter</button>
              }
              <!-- *ngIf="isAuth(PackagePermission.CreatePackage)"  -->
              @if (isAuth(couponPermissions.CreateCoupon)) {
              <button type="button" class="btn btn-primary" (click)="routeToAdd()" data-bs-toggle="modal"
                data-bs-target="#kt_modal_add_user">
                <!-- <span class="svg-icon svg-icon-2">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect opacity="0.5" x="11.364" y="20.364" width="16" height="2" rx="1"
                              transform="rotate(-90 11.364 20.364)" fill="black" />
                              <rect x="4.36396" y="11.364" width="16" height="2" rx="1" fill="black" />
                            </svg>
                          </span> -->
                <i class="fa-duotone fa-layer-plus fa-size" area-hidden="true"></i>
                <!--end::Svg Icon-->Create Coupon</button>
              }
              <!--end::Add user-->
            </div>
          </div>
        </div>
        <div class="card-body py-4">
          <!-- <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users">
                  <thead>
                    <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                      <th class="w-10px pe-2">
                        <div class="form-check form-check-sm form-check-custom form-check-solid me-3">
                          <input class="form-check-input" type="checkbox" data-kt-check="true"
                            data-kt-check-target="#kt_table_users .form-check-input" value="1" />
                          </div>
                        </th>
                        <th class="min-w-125px">Name</th>
                        <th class="min-w-125px">Code</th>
                        <th class="min-w-125px">Price</th>
                        <th class="min-w-125px">Validaty</th>
                        <th class="text-end min-w-100px">Actions</th>
                      </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-bold">
                      <tr *ngFor="let item of filteredDate">
                        <td>
                          <div class="form-check form-check-sm form-check-custom form-check-solid">
                            <input class="form-check-input" type="checkbox" value="1" />
                          </div>
                        </td>
                        <td class="d-flex align-items-center">
                          {{item.name}}
                        </td>
                        <td>{{item.code}}</td>
                        <td>
                          {{item.price}}
                        </td>
                        <td>{{getValidaty(item.validityPeriodId)}}</td>
                        <td class="text-end">
                          <div ngbDropdown class="dropdown">
                            <div ngbDropdownToggle class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink"
                              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Actions
                            </div>
                            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                              <span  ngbDropdownItem *ngIf="isAuth(PackagePermission.UpdatePackage)"
                              (click)="routeToEdit(item.id)" class="dropdown-item" href="#">Edit</span>
                              <span  ngbDropdownItem *ngIf="isAuth(PackagePermission.PackageDetails)"
                              (click)="routeToDetails(item.id)" class="dropdown-item" href="#">Details</span>
                              <span  ngbDropdownItem *ngIf="isAuth(PackagePermission.DeletePackage)" (click)="deleteItem(item)"
                              class="dropdown-item" href="#">Delete</span>
                              <span  ngbDropdownItem *ngIf="isAuth(PackagePermission.AssignPackageToUser)" (click)="AssignUser(item)"
                              class="dropdown-item" href="#">Assign To User</span>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table> -->
          <p-table [value]="filteredDate" tableStyleClass="table align-middle table-row-dashed fs-6 gy-5">
            <ng-template pTemplate="header">
              <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0">
                <th pSortableColumn="code" class="min-w-125px">Code <p-sortIcon field="code"></p-sortIcon></th>
                <th pSortableColumn="description" class="min-w-125px">Description <p-sortIcon
                    field="description"></p-sortIcon></th>
                <th class="min-w-125px">Type </th>
                <th class="min-w-125px">Discount Type </th>
                <th pSortableColumn="amount" class="min-w-125px">Amount <p-sortIcon field="amount"></p-sortIcon></th>
                <th pSortableColumn="expiryDate" class="min-w-125px">Expiry Date <p-sortIcon
                    field="expiryDate"></p-sortIcon></th>
                <th class="min-w-125px">Active </th>
                <th class="min-w-125px">Deleted </th>
                <th class=" min-w-100px Actionlabel ">Actions </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item class="text-gray-600 fw-bold">
              <tr>
                <td>{{item.code}}</td>
                <td>{{item.description}}</td>
                <td>{{getType(item.type)}}</td>
                <td>{{getDiscountType(item.discountType)}}</td>
                <td>{{item.amount}}</td>
                <td>{{item.expiryDate | date}}</td>
                <td>{{item.isActive}}</td>
                <td>{{item.isDeleted}}</td>
                <td class="">
                  <div ngbDropdown class="dropdown">
                    <div ngbDropdownToggle class="btn btn-primary dropdown-toggle" role="button" id="dropdownMenuLink"
                      data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Actions
                    </div>
                    <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <!-- *ngIf="isAuth(PackagePermission.UpdatePackage)" -->
                      @if (isAuth(couponPermissions.UpdateCoupon)) {
                      <span ngbDropdownItem (click)="routeToEdit(item.id)" class="dropdown-item" href="#">Edit</span>
                      }
                      <!-- *ngIf="isAuth(PackagePermission.PackageDetails)" -->
                      @if (isAuth(couponPermissions.CouponDetails)) {
                      <span ngbDropdownItem (click)="routeToDetails(item.id)" class="dropdown-item"
                        href="#">Details</span>
                      }
                      <!-- *ngIf="isAuth(PackagePermission.DeletePackage) && !item.isDeleted" -->
                      @if (isAuth(couponPermissions.DeleteCoupon)) {
                      <span ngbDropdownItem (click)="deleteItem(item)" class="dropdown-item" href="#">Delete</span>
                      }
                      <!-- *ngIf="isAuth(PackagePermission.AssignPackageToUser) && !item.isDeleted" -->
                      @if (isAuth(couponPermissions.AssignToProduct)) {
                      <span ngbDropdownItem (click)="AssignPackage(item)" class="dropdown-item" href="#">Assign To
                        Products</span>
                      }
                      <!-- *ngIf="isAuth(PackagePermission.RemovePackageFromUser) && !item.isDeleted" -->
                      @if (isAuth(couponPermissions.RemoveFromProduct) ) {
                      <span ngbDropdownItem (click)="RemovePackageFromCoupon(item)" class="dropdown-item"
                        href="#">Remove From Products</span>
                      }
                      <!-- <a href="{{item.url}}" target="_blank"><span ngbDropdownItem *ngIf="!item.isDeleted"
                            class="dropdown-item">More</span> -->
                      <!-- </a> -->
                    </div>
                  </div>
                </td>
              </tr>
            </ng-template>
          </p-table>
          <br />
          <app-paging [currentPage]="currentPage" [pager]="pager" [totalPages]="totalPages"
            (clickSetPage)="changePage($event)" [pageSize]="pageSize" (clickSetPageSize)="changePageSize($event)">
          </app-paging>
        </div>
      </div>
    </div>
  </div>
</div>
}