
<div class="container">
  <p-toast position="top-right" key="tl"></p-toast>
  <p-card class="">

    <div class="Body">
      <div class="row">
          <div class="col-md-12">
              <div class="form-group">
                <app-password [name]="'New Password'"   [size]="'medium'" [(ngModel)]="form.newPassword"
                (inputValid)="isInputValid('newPassword', $event)" [require]="true"
                [label]="'New Password'" [disable]="false"></app-password>
              </div>
          </div>
      </div>
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
              <!-- <app-password [name]="'Confirm Password'"   [size]="'medium'" [(ngModel)]="form.confirmedPassword"
              (inputValid)="isInputValid('cp', $event)" [require]="true"
              [label]="'Confirm Password'" [disable]="false"></app-password> -->
              <app-password [name]="'Confirm Password'"
              [passwordMatched]="passwordMatched"
               [size]="'medium'"
              [(ngModel)]="form.confirmedPassword"
              (inputValid)="isInputValid('confirmedPassword', $event)" [require]="true"
              [label]="'Confirm Password'" [disable]="false"></app-password>
            </div>
        </div>
    </div>
    </div>
          <ng-template pTemplate="footer">
              <button pButton type="button" label="Save" class="p-button-success" (click)="submit()" [disabled]="!valid || form.confirmedPassword.length==0"></button>&nbsp;
              <button pButton type="button" label="cancel" class="p-button-danger" (click)="cancel()"></button>
      </ng-template>
  </p-card>
</div>
