@if (isAuth(aboutPermissions.UpdateAboutUsFeature)) {
  <div class="container">
    <p-toast position="top-right" key="tl"></p-toast>
    <p-card class="">
      <div class="Body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.featurNameAr"
                [name]="'featurNameAr'"
                [minLength]="5"
                [maxLength]="200"
                [size]="'small'"
                (inputValid)="isInputValid('featurNameAr', $event)"
                [require]="true"
                [label]="'feature Name Ar'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.featurNameEn"
                [name]="'featurNameEn'"
                [minLength]="5"
                [maxLength]="200"
                [size]="'small'"
                (inputValid)="isInputValid('featurNameEn', $event)"
                [require]="true"
                [label]="'featurNameEn'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Save"
          class="btn btn-success"
          (click)="submit()"
          [disabled]="getValidation()"
        ></button
        >&nbsp;
        <button
          pButton
          type="button"
          label="cancel"
          class="btn btn-primary"
          (click)="cancel()"
        ></button>
      </ng-template>
    </p-card>
  </div>
}
