@if (isAuth(ProductPermission.CreateProduct)) {
  <div class="container">
    <p-toast position="top-right" key="tl"></p-toast>
    <p-confirmDialog
      header="Delete Confirmation"
      icon="pi pi-exclamation-triangle"
    ></p-confirmDialog>
    <p-card class="">
      <ng-template pTemplate="header">
        <h1
          style="align-content: center; align-items: center; text-align: center"
        >
          Create Product
        </h1>
      </ng-template>
      <div class="Body">
        <!-- <div class="row">
          <div class="row" style="margin-bottom:15px;">
            <div class="col-md-3">
              <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
              <img [src]="url" alt="Choose image" class="rounded-image" (click)="file.click()" />
            </div>
          </div>
        </div> -->
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.titleAr"
                [name]="'titleAr'"
                [minLength]="5"
                [maxLength]="150"
                [size]="'small'"
                (inputValid)="isInputValid('titleAr', $event)"
                [require]="true"
                [label]="'Arabic Title'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.titleEn"
                [name]="'titleEn'"
                [minLength]="5"
                [maxLength]="150"
                [size]="'small'"
                (inputValid)="isInputValid('titleEn', $event)"
                [require]="true"
                [label]="'English Title'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <app-text-component
                [(ngModel)]="form.modelNumber"
                [name]="'modelNumber'"
                [minLength]="5"
                [maxLength]="150"
                [size]="'small'"
                (inputValid)="isInputValid('modelNumber', $event)"
                [require]="true"
                [label]="'Model Number'"
                [disable]="false"
              ></app-text-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-editor
                [(ngModel)]="form.shortDescriptionAr"
                [name]="'shortDescriptionAr'"
                [minLength]="5"
                [maxLength]="1000"
                [size]="'small'"
                (inputValid)="isInputValid('shortDescriptionAr', $event)"
                [require]="true"
                [label]="'Arabic Short Description'"
                [disable]="false"
              ></app-editor>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-editor
                [(ngModel)]="form.shortDescriptionEn"
                [name]="'shortDescriptionEn'"
                [minLength]="5"
                [maxLength]="1000"
                [size]="'small'"
                (inputValid)="isInputValid('shortDescriptionEn', $event)"
                [require]="true"
                [label]="'English Short Description'"
                [disable]="false"
              ></app-editor>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-editor
                [(ngModel)]="form.longDescriptionAr"
                [name]="'longDescriptionAr'"
                [minLength]="5"
                [maxLength]="1000"
                [size]="'small'"
                (inputValid)="isInputValid('longDescriptionAr', $event)"
                [require]="true"
                [label]="'Arabic Long Description'"
                [disable]="false"
              ></app-editor>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-editor
                [(ngModel)]="form.longDescriptionEn"
                [name]="'longDescriptionEn'"
                [minLength]="5"
                [maxLength]="1000"
                [size]="'small'"
                (inputValid)="isInputValid('longDescriptionEn', $event)"
                [require]="true"
                [label]="'English Long Description'"
                [disable]="false"
              ></app-editor>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <app-pick-list-component
                (inputValid)="isInputValid('mainCategory', $event)"
                (changed)="handleSelectMainCategory($event)"
                [require]="true"
                [filter]="false"
                [showClear]="false"
                [filterBy]="'name'"
                [label]="'Main Category'"
                [options]="mainCategories"
                [size]="'small'"
                [(ngModel)]="selectedMainCategory"
              ></app-pick-list-component>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <app-pick-list-component
                (inputValid)="isInputValid('categoryId', $event)"
                [require]="true"
                [filter]="false"
                [showClear]="false"
                [filterBy]="'name'"
                [label]="'Category'"
                [options]="categories"
                [size]="'small'"
                [(ngModel)]="selectedCategory"
              ></app-pick-list-component>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <h4>Is Active</h4>
              <p-inputSwitch [(ngModel)]="form.isActive"></p-inputSwitch>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <h4>Is Deleted</h4>
              <p-inputSwitch [(ngModel)]="form.isDeleted"></p-inputSwitch>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <button
              pButton
              type="button"
              label="Add Colors"
              class="btn btn-success"
              (click)="openAddPopup()"
            ></button>
          </div>
        </div>
        <div class="row">
          <div class="card-body py-4">
            <p-table
              [value]="pFeatures"
              tableStyleClass="table align-middle table-row-dashed fs-6 gy-5"
            >
              <ng-template pTemplate="header">
                <tr
                  class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0"
                >
                  <th class="min-w-125px">Feature Type</th>
                  <th pSortableColumn="quantity" class="min-w-125px">
                    Quantity <p-sortIcon field="quantity"></p-sortIcon>
                  </th>
                  <th class="min-w-125px">Price</th>
                  <th class="min-w-125px">Arabic Unt Price</th>
                  <th class="min-w-125px">English Unit Price</th>
                  <!-- <th class=" min-w-100px Actionlabel ">Actions </th> -->
                </tr>
              </ng-template>
              <ng-template
                pTemplate="body"
                let-item
                class="text-gray-600 fw-bold"
              >
                <tr>
                  <td>{{ getFeatureName(item.featureId) }}</td>
                  <td>{{ item.quantity }}</td>
                  <td>{{ item.price }}</td>
                  <td>{{ item.unitPriceAr }}</td>
                  <td>{{ item.unitPriceEn }}</td>

                  <td class="">
                    <div ngbDropdown class="dropdown">
                      <div
                        ngbDropdownToggle
                        class="btn btn-primary dropdown-toggle"
                        role="button"
                        id="dropdownMenuLink"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                      >
                        Actions
                      </div>
                      <div
                        ngbDropdownMenu
                        class="dropdown-menu"
                        aria-labelledby="dropdownMenuLink"
                      >
                        @if (
                          isAuth(ProductPermission.DeleteProduct) &&
                          !item.isDeleted
                        ) {
                          <span
                            ngbDropdownItem
                            (click)="deleteFeature(item)"
                            class="dropdown-item"
                            href="#"
                            >Delete</span
                          >
                        }
                      </div>
                    </div>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button
          pButton
          type="button"
          label="Submit"
          class="btn btn-success"
          (click)="submit()"
          [disabled]="getValidation()"
        ></button
        >&nbsp;
        <button
          pButton
          type="button"
          label="go to List"
          class="btn btn-light-primary"
          (click)="routrToList()"
        ></button
        >&nbsp;
        <button
          pButton
          type="button"
          label="Reset"
          class="btn btn-primary"
          (click)="reset()"
        ></button>
      </ng-template>
    </p-card>
  </div>
}
