<div main-item>
      <h5 style="display: contents;">{{label}}</h5>
      <p-dropdown [style]="{'border':'none','width':'100%'}"  #child [options]="options" [disabled]="disable" [(ngModel)]="inputValue" [placeholder]="label" optionLabel="name"
                  [filter]="filter" [filterBy]="filterBy"  [showClear]="showClear" (onChange)="selectionChanged($event)"
                  [virtualScroll]="virtualScroll" 
                  [virtualScrollItemSize]="virtualScrollItemSize" 
                 >
    </p-dropdown>
</div>
