
	<section class="page-title" style="background-image: url(./../../../../../assets/images/background/page-title.jpg);">
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title" style="color: white;">Forget Password</h1>
				<ul class="page-breadcrumb">
					<li><a [routerLink]="['/home']">Home</a></li>
					<li>Forget Password</li>
				</ul>
			</div>
		</div>
	</section>
<div class="container">
  <p-toast position="top-right" key="tl"></p-toast>
  <p-card class="">

    <div class="Body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <app-password [name]="'New Password'" [size]="'medium'" [(ngModel)]="form.password"
              (inputValid)="isInputValid('newPassword', $event)" [require]="true" [label]="'New Password'"
              [disable]="false"></app-password>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <app-password [name]="'Confirm Password'" [passwordMatched]="passwordMatched" [size]="'medium'"
              [(ngModel)]="form.confirmPassword" (inputValid)="isInputValid('confirmedPassword', $event)"
              [require]="true" [label]="'Confirm Password'" [disable]="false"></app-password>
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button  type="button" label="Save" class="theme-btn btn-style-one" (click)="submit()"
        [disabled]="!valid || form.confirmPassword.length==0">Save</button>&nbsp;
      <button  type="button" label="cancel" class="theme-btn btn-style-one bg-theme-color5" (click)="cancel()">Cancel</button>
    </ng-template>
  </p-card>
</div>
