<div class="image-upload" [class.disabled]="disable">
  <label>{{ label }}</label>
  <div class="upload-area" (click)="onButtonClick()" *ngIf="!disable">
    <input
      #fileInput
      type="file"
      class="d-none"
      (change)="onFilesSelected($event)"
      [disabled]="disable"
      multiple
    />
    <p>Click to select images</p>
    <p *ngIf="filePreviews.length > 0">
      {{ filePreviews.length }} images selected
    </p>
  </div>

  <!-- Image Previews Section -->
  <div class="image-previews" *ngIf="filePreviews.length > 0">
    <div class="row">
      <div
        *ngFor="let preview of filePreviews; let i = index"
        class="image-preview"
        style="width: 100px"
      >
        <img [src]="preview" alt="Image Preview" />
        @if (!disable) {
          <button type="button" class="remove-button" (click)="removeImage(i)">
            <i class="fas fa-times text-white"></i>
          </button>
        }
      </div>
    </div>
  </div>

  <div class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </div>
</div>
