@if (isAuth(categorypermissions.UpdateCategory)) {
<div class="container">
  <p-toast position="top-right" key="tl"></p-toast>
  <p-card class="">
    <div class="Body">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <app-text-component [(ngModel)]="form.name" [name]="'Name'" [minLength]="5"
              [maxLength]="200" [size]="'small'" 
              (inputValid)="isInputValid('name', $event)" [require]="true"
              [label]="'Name'" [disable]="false"></app-text-component>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <app-editor [(ngModel)]="form.description" [name]="'Description'" [minLength]="5" [maxLength]="1000"
            [size]="'small'" (inputValid)="isInputValid('description', $event)" [require]="true" [label]="'Description'"
          [disable]="false"></app-editor>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <app-pick-list-component (inputValid)="isInputValid('categoryId', $event)" [require]="true"
              [filter]="false" [showClear]="false" [filterBy]="'name'" [label]="'Category'"
              [options]="mainCategories" [size]="'small'"
            [(ngModel)]="selectedCategory"></app-pick-list-component>
          </div>
        </div>
      </div>
    </div>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Save" class="btn btn-success" (click)="submit()"
        [disabled]="getValidation()"></button>&nbsp;
      <button pButton type="button" label="cancel" class="btn btn-primary" (click)="cancel()"></button>
    </ng-template>
  </p-card>
</div>
}