
<div main-item>
  <div class="row">
    
  </div>
    <h5>{{label}}</h5>
  
    <!--<textarea #child  pInputTextarea fullWidth [(ngModel)]="inputValue"
      class="form-control" [minlength]="minLength"
      (keyup)="startCountingToShowValidation(field)" (change)="startCountingToShowValidation(field)"
      (paste)="startCountingToShowValidation(field)" #field="ngModel" [placeholder]="label"
    [required]="require" [disabled]="disable" [cols]="colsCount" [rows]="rowsCount"></textarea>-->
    <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"   
        [customMenuRef]="customMenu"

        > </ngx-editor-menu>
        <ngx-editor   [editor]="editor" 
        class="" [minlength]="minLength"
        (keyup)="startCountingToShowValidation(field)" (change)="startCountingToShowValidation(field)"
        (paste)="startCountingToShowValidation(field)" #field="ngModel" [placeholder]="label"
      [required]="require" [disabled]="disable"
        [(ngModel)]="inputValue" [disabled]="disable"></ngx-editor>
    </div>
  </div>

  @if (field.errors && showErrorMessage) {
    <div >
      @if (field.errors['required']) {
        <p-message severity="error" [text]="requiredValidation">
        </p-message>
      }
    </div>
  }
  @if (field.errors && showErrorMessage) {
    <div >
      @if (field.errors['minlength']) {
        <p-message severity="error"  [text]="minLengthValidation" >
        </p-message>
      }
    </div>
  }
  
  @if (field.errors && showErrorMessage) {
    <div>
      @if (field.errors['maxlength']) {
        <p-message severity="error" [text]="maxLengthValidation">
        </p-message>
      }
    </div>
  }
  
  
  <ng-template #customMenu>
    <div class="NgxEditor__Seperator"></div>
    <input type="file" id="file-input" (change)="onFileSelected($event)" accept="image/*" multiple style="display: none;" />
    <label for="file-input" class="file-input-label">
      <i class="fa fa-upload"></i> <!-- Using a FontAwesome icon for example -->
    </label>
    </ng-template>
  
  
  